@tailwind base;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  //a {
  //  @apply text-blue-600 underline;
  //}
}

@tailwind components;

.header {
  @apply flex justify-between items-center;
  @apply px-48 py-5;
  @apply shadow-sm;

  .brand {
    @apply font-bold text-2xl uppercase;
  }
}

@tailwind utilities;

@import 'reset';

@import 'components/button';
@import 'components/input';

body {
  @apply font-body;
}

.card {
  @apply rounded overflow-hidden shadow-sm;
}

.card-header {
  @apply p-3;
}

.card-body {
  @apply p-3;
}

.card-footer {
  @apply mt-5 py-5 border-t border-dashed;
}
