.input-group {
  @apply text-[#555555];
  @apply border rounded ;
  @apply flex items-center;
  @apply bg-white;

  input, select, textarea {
    @apply w-full px-2 py-1;
  }

  input:focus {
    outline: 0;
  }

  select, input {
    @apply bg-transparent;
    appearance: none;
  }

  &>:first-child {
    @apply pl-1.5;
  }

  &>:last-child {
    @apply pr-1.5;
  }
}

.input-group:focus-within {
  @apply ring;
}
